@import url('https://fonts.googleapis.com/css2?family=Anton&family=Indie+Flower&display=swap');

body {
    background-color: white;
}

h1 {
    color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    background: black;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    color: black;
    text-align: justify;
    text-decoration: underline;
    text-indent: 50px;
    line-height: 1.3;
    word-spacing: 6px;
    font-family: "Indie Flower", cursive;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
}

.exemplo-back {
    height: 100px;
    background: gray url("../img/background.jpg") no-repeat center;
    background-size: cover;
    margin-bottom: 100px;
}

.botao {
    margin-left: 33%;
    background: green;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 9px;
    text-decoration: none;
}

.botao:hover {
    background: blue;
}

.teste {
    max-width: 800px;
    height: 150px;
    background: cyan;
}

a.botao1 {
    background: purple;
    color: white;
    padding: 5px;
    text-decoration: none;
    border-radius: 17px;
    border: 1.1px solid white;
}

a.botao1:hover {
    background: rgb(242, 119, 242);
    padding: 2px;
    border: 2px solid rgb(90, 5, 5);
}

a.botao2 {
    text-decoration: none;
    padding: 10px;
    border: 5px double blue;
    color: blue;
}

a.botao2:hover {
    padding: 16px;
    text-decoration: underline;
    background: black;
}

a.botao3 {
    color: black;
    text-decoration: none;
}

a.botao3:hover {
    color: red;
    border-bottom: 1.4px solid blueviolet;
}

a.botao4 {
    text-decoration: none;
    color: pink;
    font-size: 16px;
}

a.botao4:hover {
    font-size: 20px;
    font-weight: bold;
    background: rgb(76, 70, 13);
}

a.botao5 {
    cursor: text;
}